<!DOCTYPE html>
<html lang="en">
<%-include("./../partials/head.ejs", {title: "HOME"}) %> 

<body class="grid-container">
    
    <%-include("./../partials/header.ejs") %> 

    <main class="container">

            <% productos.forEach(producto => { %> 
        <section class="caja" >
           
            <div>
                <a class="ancla-index" href="/detail/<%= producto.id %>">
                    <img class="producto imagen1" src="/img/imagen_llegada/<%= producto.image %> " alt="">

                    <div>
                        <p class="bold">PRECIO: $ <%= producto.precio %></p>
                        <p class="verde"> DESCUENTO: <%= producto.descuento %> %</p>
                        <p class="verde"> PRECIO FINAL: $ <%=((100-producto.descuento)/100)*(producto.precio)%> </p>
                        <p class="gris"><%= producto.nombre %></p>
                    
                    </div>
                </a>
           
            </div>
            
           
        </section>
     <% }) %>

    </main>

    <%-include("./../partials/footer.ejs") %> 

</body>
</html>

