<!DOCTYPE html>
<html lang="en">
<%-include("./../partials/head.ejs", {title: "PERFIL"}) %> 

   

    <body class="fondo">
        <header>
            <%- include('./../partials/header') %>
        </header>
        
   <h2 class = "titulo-h1-createProducts"> PERFIL DE USUARIO <%= user.username %></h2> 

        <main class="main-edit">
           <img class="img-perfil" src=/img/imagen_perfil/<%= user.image %> alt="">
           <div class="alert alert-success"><%= user.email %> </div>
        </main>
        
            <%- include('./../partials/footer') %>     
    </body>
    </html>


</body>
</html>